/*  ATTENTION - This isn't a file for a web page or a web application  */
/* It's a file for my solutions to the CSS exercises in W3Schools page */
/*          Source https://www.w3schools.com/css/exercise.asp          */

/* ====================================== */
/* ============= Selectors ============== */
/* ====================================== */

/* Exercise 1:
    Change the color of all <p> elements to "red". */
    p {
        color: red;
    }

/* Exercise 2:
    Change the color of the element with id="para1", to "red". */
    #para1 {
        color: red;
    }

/* Exercise 3:
    Change the color of all elements with the class "colortext", to "red". */
    .colortext {
        color: red;
    }

/* Exercise 4:
    Change the color of all <p> and <h1> elements, to "red". Group the selectors to minimize code. */
    p,
    h1 {
        color: red;
    }

/* ====================================== */
/* ============== How To ================ */
/* ====================================== */

/* Exercise 1:
    Add an external style sheet with the URL: "mystyle.css".
    <link rel="stylesheet" type="text/css" href="mystyle.css" /> */

/* Exercise 2:
    Set "background-color: linen" for the page, using an internal style sheet. */
    body {
        background-color: linen;
    }

/* Exercise 3:
    Set "background-color: linen" for the page, using an inline style.
    <body style="background-color: linen"> */

/* Exercise 4:
    Remove all styles, except the external style sheet "mystyle.css"
    Solution: Remove the whole content of the HTML tag <style> */

/* ====================================== */
/* ============= Background ============= */
/* ====================================== */


/* Exercise 1:
    Set the background color for the page to "linen" and the background color for <h1> to "lightblue". */
    body {
        background-color: linen;
    }

    h1 {
        background-color: lightblue;
    }


/* Exercise 2:
    Set "paper.gif" as the background image of the page. */
    body {
        background-image: url("paper.gif");
    }

/* Exercise 3:
    Set "gradient_bg_vertical.png" as the background image of the page, and repeat it vertically only. */
    body {
        background-image: url(gradient_bg_vertical.png);
        background-repeat: repeat-y;
    }

/* Exercise 4:
    Specify that the background image should be shown once, in the top right corner. */
    body {
        background-image: url("img_tree.png");
        background-repeat: no-repeat;
        background-position: right top;
    }

/* Exercise 5:
    Use the shorthand background property to set background image to "img_tree.png", show it once, in the top right corner. */
    body {
        background: url("img_tree.png") no-repeat right top;
    }

/* ====================================== */
/* ============= CSS Border ============= */
/* ====================================== */

/* Exercise 1:
    Set a "4px", "dotted" border for <p>. */
    p {
        border: 4px dotted;
    }

/* Exercise 2:
    Set the border color for <p> to "red". */
    p {
        border-style: dotted;
        border-width: 4px;
        border-color: red;
    }

/* Exercise 3:
    Change the 3 border properties, so that they only show the border on the top side. */
    p {
        border-top: 4px dotted;
        border-right: none;
        border-bottom: none;
        border-left: none;
    }

/* Exercise 4:
    With the border property: Set the border for p to "10px", "solid" and "green". */
    p {
        border: 10px solid green;
    }

/* ====================================== */
/* ============= CSS Margin ============= */
/* ====================================== */

/* Exercise 1:
    Set the left margin of <h1> to "20px". */
    h1 {
        margin: 0 0 0 20px;
    }

/* Exercise 2:
    Set all margins for <h1> to "25px". */
    h1 {
        margin: 25px;
    }

/* Exercise 3:
    Use the margin property to set the top and bottom margins for <h1> to "50px", and left and right margins to "25px". */
    h1 {
        margin: 50px 25px;
    }

/* Exercise 4:
    Use the margin property to center align the <h1> element. */
    h1 {
        margin: 0 auto;
    }


/* ====================================== */
/* ============= CSS Padding ============ */
/* ====================================== */

/* Exercise 1:
    Set the top padding of <p> to "30px". */
    p {
        padding-top: 30px;
    }

/* Exercise 2:
    Set all paddings for <p> to "50px". */
    p {
        padding: 50px;
    }

/* Exercise 3:
    Use the padding property to set the top and bottom paddings for <p> to "25px", and left and right paddings to "50px". */
    p {
        padding: 25px 50px;
    }

/* ====================================== */
/* ============ Height/Width ============ */
/* ====================================== */

/* Exercise 1:
    Set the height of <h1> to "100px". */
    h1 {
        height: 100px;
    }

/* Exercise 2:
    Set the width of <h1> to "50%". */
    h1 {
        width: 50%;
    }


/* ====================================== */
/* ============ Box Model =============== */
/* ====================================== */

/* Exercise 1:
    Set the width of the div to "200px". */
    div {
        width: 200px;
    }

/* Exercise 2:
    Set the padding of the div to "25px". */
    div {
        padding: 25px;
    }

/* Exercise 3:
    Set the border of the div to "25px solid navy". */
    div {
        border: 25px solid navy;
    }

/* Exercise 4:
    Set the margin of the div to "25px". */
    div {
        margin: 25px;
    }

/* ====================================== */
/* ============== Outline =============== */
/* ====================================== */

/* Exercise 1:
    Set a "solid", "5px" outline for <p>. */
    p {
        outline: solid 5px;
    }

/* Exercise 2:
    Set the outline color for <p> to "green". */
    p {
        outline-style: solid;
        outline-width: 4px;
        outline-color: green;
    }

/* Exercise 3:
    With the outline property: Set the outline for p to "red", "dotted" and "10px". */
    p {
        outline: 10px dotted red;
    }

/* ====================================== */
/* =============== Text ================= */
/* ====================================== */

/* Exercise 1:
    Set the text color for the page to "red", and the text color for <h1> to "blue". */
    body {
        color: red;
    }

    h1 {
        color: blue;
    }

/* Exercise 2:
    Center align the <h1> element. */
    h1 {
        text-align: center;
    }

/* Exercise 3:
    Remove the underline from the link. */
    a {
        text-decoration: none;
    }

/* Exercise 4:
    Style text in <h1> to uppercase letters, and text in <p> to capitalized letters. */
    h1 {
        text-transform: uppercase;
    }
    p {
        text-transform: capitalize;
    }

/* Exercise 5:
    Indent the first line of the <p> element with 20px. */
    p {
        text-indent: 20px;
    }

/* ====================================== */
/* =============== Font ================= */
/* ====================================== */

/* Exercise 1:
    Set the font family for the page to "Courier New", and the font family for <h1> to "Verdana". */
    body {
        font-family: "Courier New";
    }
    body h1 {
        font-family: "Verdana";
    }

/* Exercise 2:
    Show <p> elements as "italic" text. */
    p {
        font-style: italic;
    }

/* Exercise 3:
    Set the font size for the page to "20px", and the font size for <h1> to "3em". */
    body {
        font-size: 20px;
    }
    body h1 {
        font-size: 3em;
    }

/* Exercise 4:
    Show <p> elements as "bold" text. */
    p {
        font-weight: bold;
    }

/* Exercise 5:
    With the font property: Set the <p> to "italic", "20px" and "Verdana". */
    p {
        font: italic 20px "Verdana";
    }

/* ====================================== */
/* =============== Links ================ */
/* ====================================== */

/* Exercise 1:
    Set the color for links to "green". */
    a {
        color: green;
    }

/* Exercise 2:
    Set the color for unvisited links to "red", and the color for visited links "blue". */
    a:link {
        color: red;
    }
    a:visited {
        color: blue;
    }

    /* Exercise 3:
    Remove underlines for visited and unvisited links, and specify "underline" for the hover and active link states. */
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    a:active {
        text-decoration: underline;
    }

/* Exercise 4:
    Set the background color for visited and unvisited links to "lightblue", and the background color for the hover and active link states to "yellow". */
    a:link {
        background: lightblue;
    }
    a:visited {
        background: lightblue;
    }
    a:hover {
        background: yellow;
    }
    a:active {
        background: yellow;
    }

/* ====================================== */
/* =============== Lists ================ */
/* ====================================== */

    /* Exercise 1:
    Set the list style for unordered lists to "square", and the list style for ordered lists to "upper-roman". */
    ul {
        list-style-type: square;
    }
    ol {
        list-style-type: upper-roman;
    }

    /* Exercise 2:
    Change the list's item marker to an image called 'bling.jpg': */
    ul {
        list-style-image: url(bling.jpg);
    }

    /* Exercise 3:
    Remove the bullets/markers from the list items. */
    ul {
        list-style-type: none;
    }
